{% extends 'img2cap/base.html' %}
{% load static %}
{% block content %}
<div class="upload-wrap">
  <h1>Upload Your Photo</h1>

  <form action="{% url 'img2cap:predict_eng' %}" method="POST" enctype="multipart/form-data" id="img-main-wrap">
    {% csrf_token %}
    <div class="design-element">
      <span class="design-item"></span>
      <span class="design-item"></span>
      <span class="design-item"></span>
    </div>


    <div class="img-wrap">
      <div class="img-area">
        <img src="{% static 'img2cap/imgs/ico-pic.png' %}" class="img-icon">
        <span>화면을 눌러 사진을 업로드해 주세요<span>
      </div>

      <input type="file" id="input_img" name="img_uploaded">
      <p id="img_name">선택한 파일<br><span>-</span></p>
    </div>

    <div class="lang-area">
      <input type="hidden" name="lang" value="ko">
      <div class="ui-segment">
        <span class="option active" data-val="ko">
          <img src="{% static 'img2cap/imgs/ico-flag-kr.png' %}" data-val="ko">
          <em data-val="ko">한국어</em>
        </span>
        <span class="option" data-val="ja">
          <img src="{% static 'img2cap/imgs/ico-flag-jp.png' %}" data-val="ja">
          <em data-val="ja">일본어</em>
        </span>
        <span class="option" data-val="zh-CN">
          <img src="{% static 'img2cap/imgs/ico-flag-cn.png' %}" data-val="zh-CN">
          <em data-val="zh-CN">중국어</em>
        </span>
        <span class="option" data-val="fr">
          <img src="{% static 'img2cap/imgs/ico-flag-fr.png' %}" data-val="fr">
          <em data-val="fr">프랑스어</em>
        </span>
      </div>

      <button type="submit">CAPTIONING!</button>

      <div class="manual-wrap">
        <p>
          사진을 업로드하면 캡슐러가 사진을 분석해서<br>
          어떤 내용이 담긴 사진인지 설명해줄거에요!<br>
        </p>

        <div class="manual-bottom">
          <ul>
            <li>&lt; 사용방법 &gt;</li>
            <li>1. 이미지를 업로드한다</li>
            <li>2. 번역하고 싶은 언어를 선택한다 (기본은 영어)</li>
            <li>3. 캡셔닝 버튼을 클릭한다</li>
            <li>4. 여유롭게 기다린다</li>
          </ul>

          <a href="{% url 'img2cap:cap_list' %}">
            <img src="{% static 'img2cap/imgs/ico-home.png' %}">
            BACK
          </a>
        </div>

      </div>
    </div>
  </form>
</div>


{% if error %}
<script type="text/javascript">
    swal("Error", "Please upload your image", "warning");
</script>
{% endif %}

<script>
  const langList = document.querySelector('.ui-segment');
  const langItems = document.getElementsByClassName('option');
  const langInput = document.querySelector('input[name="lang"]');

  langList.addEventListener("click", e => {
    // value 넣어주기
    let selectedValue = e.target.getAttribute('data-val');
    langInput.value = selectedValue;

    // 클래스 달아주기
    for (const item of langItems) {
      item.classList.remove('active');

      if (item.getAttribute('data-val') == selectedValue) {
        item.classList.add('active');
      }
    }
  });

  $('form').submit(function() {
      $("#page-loader").show();
      return true;
  });

</script>

{% endblock %}
